'.source.doki':
  'background action':
    'prefix': 'ba'
    'body': 'background src=${1:backgourndFileName}'
  'weather action':
    'prefix': 'we'
    'body': 'weather type=${1:weatherType} level=${2:levelFloat(0.0-1.0)}'
  'sound action':
    'prefix': 'so'
    'body': 'sound src=${1:soundFileName}'
  'bgm action':
    'prefix': 'bg'
    'body': 'bgm src=${1:bgmFileName}'
  'video action':
    'prefix': 'vi'
    'body': 'video src=${1:videoFileName}'
  'move action':
    'prefix': 'mo'
    'body': 'move position=${1:positionConstantOrFloatVector(0.0-1.0,0.0-1.0,-1.0-1.0)}'
  'posture action':
    'prefix': 'po'
    'body': 'posture src=${1:postureFileName}'
  'role action':
    'prefix': 'ro'
    'body': 'role type=${1:typeConstant} name=${2:nameValue("xxx")}'
  'voice action':
    'prefix': 'vo'
    'body': 'voice src=${1:voiceFileName}'
