'.source.doki':
  'background action':
    'prefix': 'ba'
    'body': 'background src=${1:backgourndFileName};'
  'weather action':
    'prefix': 'we'
    'body': 'weather type=${1:weatherType} level=${2:levelFloat(0.0-1.0)};'
  'sound action':
    'prefix': 'so'
    'body': 'sound src=${1:soundFileName};'
  'bgm action':
    'prefix': 'bg'
    'body': 'bgm src=${1:bgmFileName};'
  'video action':
    'prefix': 'vi'
    'body': 'video src=${1:videoFileName};'
  'move action':
    'prefix': 'mo'
    'body': 'move position=${1:positionConstantOrFloatVector(0.0-1.0,0.0-1.0,-1.0-1.0)};'
  'move action with float vector':
    'prefix': 'mof'
    'body': 'move position=(${1:positionXFloat(0.0-1.0)}, ${2:positionYFloat(0.0-1.0)}, ${3:positionZFloat(-1.0-1.0)});'
  'posture action':
    'prefix': 'po'
    'body': 'posture src=${1:postureFileName};'
  'role action':
    'prefix': 'ro'
    'body': 'role type=${1:typeConstant} name=${2:nameValue("xxx")};'
  'voice action':
    'prefix': 'vo'
    'body': 'voice src=${1:voiceFileName} >${2:voiceText}'
  'voice action without audio':
    'prefix': 'vo>'
    'body': 'voice >${1:voiceText}'
  'flag action':
    'prefix': '['
    'body': '["${1:optionText}"(${2:optionName}, ${3:optionFileName}) | "${4:optionText}"(${5:optionName}, ${6:optionFileName})'
  'option action':
    'prefix': '<'
    'body': '<${1:optionName}>'
  'jump action':
    'prefix': '('
    'body': '(${1:jumpFileName}'
  'flag action option':
    'prefix': '(,'
    'body': '(${1:optionName}, ${2:optionFileName}'
