'scopeName': 'source.doki'
'name': 'dokiScript'
'fileTypes': [
  'dks'
]
'patterns': [
  {
    'name': 'constant.character.block.doki'
    'match': 'world'
  }
  {
    'name': 'keyword.control.action.doki'
    'match': '(background)|(weather)|(sound)|(bgm)|(video)|(move)|(posture)|(voice)|(role)'
  }
  {
    'name': 'keyword.control.key.doki'
    'match': '(src)|(transition)|(speed)|(type)|(level)|(mode)|(position)|(name)|(anchor)'
  }
  {
    'name': 'keyword.contrl.doki'
    'match': '(>)|(;)'
  }
  {
    'name': 'constant.language.doki'
    'match': '(instant)|(sunny)|(rain)|(snow)|(loop)|(center)|(left)|(right)|(player)|(character)'
  }
  {
    'name': 'comment.line.double-slash.doki'
    'begin': '(//)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.comment.doki'
    'end': '\\n'
  }
#  {
#    'name': 'keyword.control.option.doki'
#    'match': '(()([^ ,]*)(, *)([^ ,]*)())'
#    'captures':
#      '2':
#        'name': 'variable.parameter.doki'
#      '4'
#        'name': 'variable.parameter.doki'
#  }
  {
    'name': 'keyword.control.option.doki'
    'match': '(<)([^>]*)(>)'
    'captures':
      '2':
        'name': 'variable.parameter.doki'
  }
  {
    'name': 'string.quoted.double.doki'
    'match': '"[^"]*"'
  }
]
