'scopeName': 'source.doki'
'name': 'dokiScript'
'fileTypes': [
  'dks'
]
'patterns': [
  {
    'name': 'keyword.block.doki'
    'match': 'world'
  }
  {
    'name': 'keyword.action.doki'
    'match': '(background)|(weather)|(sound)|(bgm)|(video)|(move)|(posture)|(voice)|(role)'
  }
  {
    'name': 'keyword.key.doki'
    'match': '(src)|(transition)|(speed)|(type)|(level)|(mode)|(position)|(name)|(anchor)'
  }
  {
    'name': 'constant.language.doki'
    'match': '(instant)|(sunny)|(rain)|(snow)|(loop)|(center)|(left)|(right)|(player)|(character)'
  }
  {
    'name': 'comment.line.double-slash.doki'
    'begin': '(//)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.comment.doki'
    'end': '\\n'
  }
]
